<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <h2>{{title}}</h2>

    <p>
      Input:<br />
      <input type="text" [(ngModel)]="textInput" />
    </p>

    <p>
      <button (click)="handleHello()">Hello</button>
    </p>

    <p>
      <button (click)="handleGoodbye()">Goodbye</button>
    </p>

    <p>
      <button [disabled]=(!textInput) (click)="handleUpperCase()">Upper Case</button>
    </p>

    <p>
      <button [disabled]=(!textInput) (click)="handleLowerCase()">Lower Case</button>
    </p>

    <p>
      <button [disabled]=(!textInput) (click)="handleMessage()">Show Input Message</button>
    </p>

    <p>
      <button [disabled]=(!textInput) (click)="handleClear()">Clear Input Message</button>
    </p>
  
  </div>

</ion-content>
